body {
    font-family: 'Inter'; /* keluarga font */
    font-size: 12px; /* Ukuran font utama pada tag <p></p> */
    background-color: #5988FF; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #00a800; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}

h2 {
    color: #00a800;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #00a800;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}